.bottles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.carts{
    border: 2px sold slateblue;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: aquamarine;
 
   
    /* grid-template-columns: repeat(2, 1fr); */
}
.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 30px;
    justify-items: center;
    
}

.cart_bg{
    background-color: azure;
    color: blueviolet;
    display: inline;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.cart img{
    width: 150px;
    border-radius: 20px;

}